html {
  min-block-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 16px;
}

/* Mobile Styles */
body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 75%, 39%);
  background: url('/images/bg-pattern-top.svg') no-repeat top left fixed;
  background: url('/images/bg-pattern-bottom.svg') no-repeat bottom right fixed;
}

.card {
  display: grid;
  grid: repeat(8, 1fr) / 1fr;
  justify-content: center;
  justify-self: center;
  align-items: stretch;
}

img {
  border-radius: 40%;
}

header {
  grid-area: 5/3/6/6;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.intro {
  min-inline-size: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.row {
  grid-area: 6/2/7/7;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
}

.attribution {
  justify-content: center;
  align-items: end;
}
