html {
  min-block-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
}

/* Mobile Styles */
@media screen and (max-width: 120rem) {
  body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
  }

  body::before {
    content: '';
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url('./images/bg-pattern-top.svg') no-repeat;
    transform: rotate(90deg);
  }

  body::after {
    position: relative;
    background: url('./images/bg-pattern-bottom.svg') no-repeat bottom right
      fixed;
    transform: rotate(-90deg);
    block-size: 50%;
    z-index: -1;
  }

  .card {
    margin-top: 10%;
    margin-bottom: 5%;
    block-size: 25rem;
    inline-size: 18rem;
    justify-self: center;
    align-self: center;
    display: grid;
    grid: repeat(9, minmax(2rem, 1fr)) / 1fr;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    border-radius: 1.25rem;
  }

  .upper2 {
    grid-area: 1 / 1 / 4 / 2;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    inline-size: 100%;
    block-size: 100%;
  }

  .upper2::before {
    content: '';
    position: absolute;
    background-image: url('./images/bg-patter-card.svg');
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
  }

  img {
    grid-area: 3 / 1 / 5 / 2;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    border: 0.25rem solid white;
  }

  header {
    grid-area: 6/1/7/2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.0625;
  }

  .intro {
    min-inline-size: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .intro > p {
    font-size: 1rem;
  }

  .intro > .name {
    font-weight: 700;
    margin-right: 0.5rem;
  }

  .location {
    font-size: 0.75rem;
    font-weight: 400;
    margin-top: 0.02rem;
    letter-spacing: 1.25;
  }

  .numbers {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .category {
    font-size: 0.625rem;
    font-weight: 400;
    letter-spacing: 1.25;
  }

  .row {
    grid-area: 8/1/10/2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .followers {
    margin-right: 2.5rem;
  }

  .likes {
    margin-right: 2.5rem;
  }

  .attribution {
    justify-content: flex-end;
    align-self: center;
  }
}
