html {
  min-block-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
}

/* Mobile Styles */
@media screen and (max-width: 60rem) {
  body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    background: url('/images/bg-pattern-top.svg'),
      url('/images/bg-pattern-bottom.svg');
  }

  .card {
    block-size: 70%;
    max-inline-size: 30rem;
    justify-self: center;
    align-self: center;
    display: grid;
    grid: repeat(8, 1fr) / 1fr;
    justify-content: center;
    align-items: stretch;
  }

  img {
    grid-area: 3 / 1 / 4 / 2;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    border: 0.25rem solid white;
  }

  header {
    grid-area: 5/1/6/2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .intro {
    min-inline-size: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .location {
    font-size: 0.75rem;
  }

  .row {
    grid-area: 6/1/7/2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
  }

  .attribution {
    justify-content: space-between;
    align-self: center;
  }
}
